version: '3.8'

services:
  postgres:
    image: bitnami/postgresql:latest
    container_name: dev_postgres
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: devdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

    restart: always
    

volumes:
  postgres_data: